{{include 'default/fake_event.html'}}

<div class="text-center">
  <b>Listen Event Intro from Chirs!</b>
  <div class="row">
    <div class="col">
      <div class="voice_intro">
        <img src="https://avatars0.githubusercontent.com/u/2552531?s=460&v=4" class="user"></br>
        <img class="firstlangcoach" data-toggle="tooltip" data-placement="top" title="Speaks social level Korean" src="http://www.myiconfinder.com/uploads/iconsets/256-256-4e10583b750e5618f8fab31ec759b662.png">
        <b>Chris Y (Like Rank:1)</b>
      </div>
    </div>
  </div>
</div>
