<script>
  jQuery(document).ready(function() {
    $('.trigger, .topspace').on('touchstart', function() {
      console.log("slider up");
      $('.slider').toggleClass('close');
    });
    $('.trigger, .topspace').on('click', function() {
      console.log("slider up");
      $('.slider').toggleClass('close');
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="jumbotron jumbotron-fluid" style="padding:0px;word-wrap:break-word; margin-bottom: 0px !important;">
  <div class="col-md-5">
    <div class="actions">
      <a href="#" class="dislike">
        <i></i>
      </a>
      <a href="#" class="like">
        <i></i>
      </a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word; margin-bottom: 0px !important; padding-top: 0px !important;">
  <div class="col-md-5">
    <!-- start padding container -->
    <div class="wrap">
      <!-- start jtinder container -->
      <div id="tinderslide">

        <!-- jTinder status text  -->
        <ul>
          <div class="card text-center" style="width:100%;">
            <div class="card-body">
              <h5 class="card-title">No More Events</h5>
              <p class="card-text">Please come back later once more there are more Event. We will let you know soon.</p>
            </div>
          </div>
          {{
                eventfrom_list =  [
                                    "https://secure.meetup.com/s/img/0/logo/svg/logo--mSwarm.svg",
                                    "https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1024px-Airbnb_Logo_B%C3%A9lo.svg.png",
                                    "https://secure.meetup.com/s/img/0/logo/svg/logo--mSwarm.svg",
                                    "https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1024px-Airbnb_Logo_B%C3%A9lo.svg.png",
                                    "https://upload.wikimedia.org/wikipedia/en/thumb/2/22/TripAdvisor_logo.svg/2560px-TripAdvisor_logo.svg.png"
                                  ]
                flag_list =       [
                                    "http://www.myiconfinder.com/uploads/iconsets/256-256-04d6d121ad181241d29cac93ceac8edd.png",
                                    "http://www.myiconfinder.com/uploads/iconsets/256-256-6b0328c200de412cca7196d0e552b6fe.png",
                                    "http://www.myiconfinder.com/uploads/iconsets/256-256-7601e8a133aa6a20ef4ae47ada81e31b.png",
                                    "http://www.myiconfinder.com/uploads/iconsets/256-256-04d6d121ad181241d29cac93ceac8edd.png",
                                    "http://www.myiconfinder.com/uploads/iconsets/256-256-32d3874f0eff8680107e101e2b2ad64d.png"
                                  ]
                initcoach_list =  [
                                    "https://secure.meetupstatic.com/photos/member/4/2/e/7/member_241997127.jpeg",
                                    "https://secure.meetupstatic.com/photos/member/e/5/3/2/member_251758674.jpeg",
                                    "https://secure.meetupstatic.com/photos/member/a/2/0/0/member_58781472.jpeg",
                                    "https://secure.meetupstatic.com/photos/member/2/2/9/f/member_278768863.jpeg",
                                    "https://secure.meetupstatic.com/photos/member/1/c/5/2/member_280927250.jpeg"
                                  ]
          }}

          {{for i in range(len(cardOut['rcmdCandidateOut'])):}}
          {{
                idx=cardOut['rcmdCandidateOut'][i]['bestCandidateIndex']
                rank=cardOut['rcmdCandidateOut'][i]['bestCandidateRank']
                desc=cardOut['rcmdCandidateOut'][i]['bestCandidateDes']
                name=cardOut['rcmdCandidateOut'][i]['bestCandidateName']
                imgurl=cardOut['rcmdCandidateOut'][i]['bestCandidateImg']
                evenlink=cardOut['rcmdCandidateOut'][i]['bestCandidateUrl']
          }}
          <li class="pane{{=i+1}}">
            <div class="card mb-4 box-shadow">
              <img class="eventfrom" src={{=eventfrom_list[i+1]}} style="width:100px;top:10px;margin-left:5px;">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 150px; width: 100%; display: block;" src="{{=imgurl}}"
                data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">{{=desc}}</p>
                <h4>{{=name}}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{=evenlink}}" target="_blank">
                    </a>
                  </div>
                  <small class="text-muted">
                    <!--Idx:{{=idx}}|rank:{{=rank}}--> Only 5 spot left</small>
                </div>
              </div>
            </div>
            {{
                  idx=coachSelectionOut['rcmdCandidateOut'][i]['bestCandidateIndex']
                  rank=coachSelectionOut['rcmdCandidateOut'][i]['bestCandidateRank']
                  name=coachSelectionOut['rcmdCandidateOut'][i]['bestCandidateName']
            }}
            <div class="text-center">
              <p>Coach {{=name}} likes to go this event with you.</p>
              <div class="trigger">
                <img src={{=initcoach_list[i+1]}} class="user">
              </div>
              <img class="firstlangcoach" src={{=flag_list[i+1]}}>
              <b>{{=name}}(Like Rank:{{=rank}})</b>
            </div>
          </li>
          {{pass}}

          <li class="pane1">
            <div class="card mb-4 box-shadow">
              <img class="eventfrom" src="https://seeklogo.net/wp-content/uploads/2012/10/eventbrite-logo-vector.png">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 150px; width: 100%; display: block;"
                src="{{=cardOut['bestCandidateOut']['bestCandidateImg']}}" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">{{=cardOut['bestCandidateOut']['bestCandidateDes']}}</p>
                <h5>{{=cardOut['bestCandidateOut']['bestCandidateName']}}</h5>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{=cardOut['bestCandidateOut']['bestCandidateUrl']}}" target="_blank">
                    </a>
                  </div>
                  <small class="text-muted">
                    <!--Idx:{{=cardOut['bestCandidateOut']['bestCandidateIndex']}}|rank:{{=cardOut['bestCandidateOut']['bestCandidateRank']}}-->Only 10 spot left</small>
                </div>
              </div>
            </div>
            {{
                  idx=coachSelectionOut['rcmdCandidateOut'][0]['bestCandidateIndex']
                  rank=coachSelectionOut['rcmdCandidateOut'][0]['bestCandidateRank']
                  name=coachSelectionOut['rcmdCandidateOut'][0]['bestCandidateName']
            }}
            <div class="text-center">
              <p>Coach {{=name}} likes to go this event with you.</p>
              <div class="trigger">
                <img src="https://secure.meetupstatic.com/photos/member/4/2/e/7/member_241997127.jpeg" class="user">
              </div>
              <div>
                <img class="firstlangcoach" src={{=flag_list[1]}}>
                <b>{{=name}} (Like Rank:{{=rank}})</b>
              </div>
            </div>
          </li>
          <li class="pane0">
            {{include 'default/fake_event_swipecard.html'}}
          </li>
        </ul>

      </div>
      <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

  </div>
</div>

<div class="slider close">
  <div class="topspace"></div>
  <div class="slidebackground">
    {{include 'default/swipecard_coach.html'}}
  </div>
</div>


<!-- Modal -->
<!-- this is for asking Event introduction to Coach -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Asked introduction to Coach! Coach will get request from you, and will create introduction voice record in your prefarred language. We will let you know once Coach completes recording.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
